@import "./styles/variables.css";

@import "./styles/main.css";

@import "./styles/search.css";

@import "./styles/posts.css";

@import "./styles/like.css";

@import "./styles/loader.css";

@import "./styles/media.css";
